<div class="container">

  <% switch (data.format) {
    case 'articles': { %>

      <div class="column">
        <% for (let a in data.contents) { %>
          <div class="article">
            <p>
              <%- data.contents[a] %>
            </p>
          </div>
        <% } %>
      </div>

  <% } break;
    case 'raw': { %>

      <% for (let a in data.contents) { %>
        <%- data.contents[a] %>
      <% } %>

  <% } break;
    default:
    break;
  } %>

</div>
