/////////////// global colors
$backgroundColor: #fff;
$textColor: #000;

/////////////// global fonts
$fontSize: 15px;
$lineHeight: 20px;

//=============================== BANNER =====================================//

/////////////// banner variables
$bannerHeight: 90px;

//================================ MENU ======================================//

/////////////// menu colors
$menuFontColor: rgba(255, 255, 255, 0.9);
$menuBgColor: #000;
$menuFontActiveColor: rgba(255, 255, 255, 1);
$menuBgActiveColor: #333;
$menuFontHoverColor: $menuFontColor;
$menuBgHoverColor: #222;

/////////////// font variables
$menuFontSize: 16px;
$menuLineHeight: 20px;

/////////////// menu variables
$menuVerticalPadding: 10px;
$menuHorizontalPadding: 16px;

$userMenuSpacer: 7px;
$userMenuArrowWidth: 10px;
$userMenuArrowHeight: 5px;
// $userMenuBackgroundColor: rgba(255, 128, 0, 0.9);
$userMenuFontColor: #ccc;
$userMenuFontHoverColor: #eee;
$userMenuBackgroundColor: rgba(55, 90, 120, 0.9);

$naviconSize: 22px;
$naviconVerticalPadding: $menuVerticalPadding - ($naviconSize - $menuLineHeight) * 0.5;

$menuHeight: $menuLineHeight + 2 * $menuVerticalPadding;

//============================== CONTENTS ====================================//

/////////////// contents variables
$columnWidth: 800px;
$containerPaddingBottom: 10px;

//=============================== FOOTER =====================================//

/////////////// footer colors
$footerFontColor: $menuFontColor;
$footerBgColor: $menuBgColor;
